<h1>Listing Blogs</h1>

<div class="container">

  <div class="row">
    <% @favorite_blogs.each do |blog| %>
      <div class="col-xs-12 col-md-6 blog-panel">
        <h2><%= blog.title %></h2>
        <p><%= blog.content %></p>
        <p><%= blog.created_at %></p>
        <div class="blog-links">
          <%= link_to 'Show', blog, class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
